{% extends 'Layout.html'%}
{% block head %}
{{super()}}





{% endblock %}

{% block body%}
{{super()}}
<script >
    se =session.get('username')
console.log(se)
</script>
</br>
</br>
 <h3>Welcome to Dashboard {{session.username.username}}</h3></br>
<a class ="btn btn-success" href="/add_article">Add Articles</a></br></br>
<hr>
<table class="table table-striped">
<tr>
    <th>ID</th>
    <th>Title</th>
    <th>Author</th>
    <th>Date</th>
    <th><p>  </p></th>
    <th><p>  </p></th>
   

</tr>
{%for article in articles%}
<script>
    console.log(article)
</script>
<tr>
    <th>{{article.id}}</th>
    <th>{{article.title}}</th>
    <th>{{article.author}}</th>
    <th>{{article.create_date}}</th>
    <th><a href="edit_article/{{article.id}}" class="btn btn-info pull-right" >Edit</a></th>
    <th><a href="delete_article/{{article.id}}" class="btn btn-danger pull-left">Delete</a></th>
    <th></th>

</tr>

{%endfor%}
</table>
{% endblock %}